<html>
    <head>
        <title>{{nome}}</title>
        <link rel="stylesheet" href="../static/estilo.css">
    </head>
    <body >
        <div class="escopo">
            <div class=" logo">
                <a href="/">
                    <img src="/static/imagem.png" alt="">
                </a>
            </div>
            <h1>NOVO ALUNO</h1>
        </div>

            <form action="/salvar" method="POST" class="tudo">
                <div class="teste"> 
                    <label for="" >Nome :</label> 
                </div>
                <div class="formulario"> 
                    <input type="text" name="nome"><br/>
                </div>
                <div class="teste">
                    <label for="" >Sobrenome :</label> 
                </div>
                <div class="formulario">
                    <input type="text" name ="sobrenome"><br/>
                </div>
                <div class="teste"> 
                    <label for="" >Telefone :</label>        
                </div>
                <div class="formulario"> 
                    <input type="text" name ="telefone"><br/>
                </div>
             <hr/>
             <div class="btn">
                <input type="submit" value= "salvar">
             </div>
        </form>
    </body>
</html>