<html>
    <head>
        <title>INVEST - {{titulo_pagina}}</title>
        <link rel="stylesheet" href="../static/diversificacao-de-investimentos.jpg.jpg"> 
        <link rel="stylesheet" href="../static/mão.jpeg">
    </head>
            <body>
                <form class="investimentos">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Categoria</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Categoria">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">Tipo</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Tipo">
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Aporte</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Aporte R$">
                    </div> 
                    <div class="form-group">
                            <label for="exampleInputPassword1">Rentabilidade</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Rentabilidade %">  
                    </div>
                    <div class="form-group">
                            <label for="exampleInputPassword1">Periodo rentabilidade</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="(dia/mês/ano)">  
                    </div>                  
                    <button type="button" class="btn btn-light">Finalizar</button>
                </form>
            </body>
</html>