{% extends "tbl.html" %}
{% block conteudo %}

    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Endereço entrega:</label>
          <input type="endereco" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Informe seu endereço">
       </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Quantidade:</label>
          <input type="quantidade" class="form-control" id="exampleInputPassword1" placeholder="Quantas cervejas deseja?">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
               
{% endblock %}